<form class="list-form">
  <input type="text" name="list[title]" value="<%= list.get("title") %>">
  <input type="hidden" name="list[board_id]" value="<%= board.get("id") %>">
  <input type="submit" name="Submit" value="Submit">
</form>
