<form>
<label>Title</label>
 <input type="text" name="post[title]" value="<%= post.get("title") %>">
 <label>Body</label>
 <textarea name="post[body]"><%= post.get("body") %></textarea>
 <button class="submit-form">Submit</button>
 </form>
